html, body {
    margin: 0 auto; 
    font-family: Arial, Helvetica, sans-serif; 
}

.container {
    width: 100%;
    background-color: rgb(238, 236, 236);

}
 


.to-dos {
    margin-top: 25px;
    border-color: 1px black solid ;
    background-color: rgb(253, 253, 253);
    border-radius: 5px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer; 
    font-size: 20px; 
}

.navbar {
    background-color: #6D0017;
    -webkit-print-color-adjust: exact; 

}

#header {
    background-color: #6D0017;
    -webkit-print-color-adjust: exact; 
}

.navbar-header {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.contentImg{
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    width: 50%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.toDoList {
    float:none;
    margin:0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.imgLogo {
    width: 20%;
    text-align: center;
}

.footer {
    background-color: #6D0017;
    position:absolute;
    width:100%;
    bottom:0px;
    text-align: center;
}