html, body {
    margin: 0 auto; 
    font-family: Arial, Helvetica, sans-serif; 
}

.container {
    width: 100%;
    background-color: rgb(233, 229, 229);

}
 
#inputField {
    width: 400px;
    height: 46px;
    border: 1px solid black; 
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    text-align: center;
}

#addToDo {
    height: 50px; 
    width: 1px solid black; 
    vertical-align: middle;
    font-size: 30px;
}

.t0-dos {
    margin-top: 25px;   
}

.paragraph-styling {
    margin: 0;
    cursor: pointer; 
    font-size: 20px; 
}

.navbar {
    background-color: #6D0017;
    -webkit-print-color-adjust: exact; 

}

#header {
    background-color: #6D0017;
    -webkit-print-color-adjust: exact; 
}

.navbar-header {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.contentImg{
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
    width: 50%;
    padding-bottom: 80px;
}

.toDoList {
    float:none;
    margin:0 auto;
    text-align: center;
    padding-bottom: 20px;
}